<HTML>
<HEAD>
    <TITLE> ERROR </TITLE>
</HEAD>
<BODY>
<H1> ERROR NUMBER : {{code}} </H1>
<P> errror mesage : {{msg}}</P>
<P> errror datetime : {{timestamp}}</P> <!-- 중괄호 : 템플릿엔진 : 해석만해서 html 화 시켜주는것-->
</BODY>
</HTML>